# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ambientes virtuais
venv/
.env/
.venv/

# arquivos Python
__pycache__/
*.pyc

# VS Code
.vscode/


# Pastas de ambiente virtual
.venv/
venv/
env/
__pycache__/

# Dependências do Node
node_modules/

# Segurança (Chaves de API)
.env
backend/.env
**/.env

# Bancos de Dados locais
*.csv
backend/dataset/
**/dataset/